<table id="teclado-numerico">
    <tbody>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td>  <input value="7" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td>  <input value="8" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td>  <input value="9" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
        </tr>
        <tr>
            <td>  <input value="4" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td>  <input value="5" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td>  <input value="6" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
        </tr>
        <tr>
            <td>  <input value="1" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td>  <input value="2" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td>  <input value="3" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
        </tr>
        <tr>
            <td></td>
            <td><input value="0" type="button" style='width:50px; height:50px;font-size:30px;color:blue'></td>
            <td></td>
        </tr>
    </tbody>
</table>
